

.login-container {
  font-family: 'Cream cake';
  font-size: 25px;
  max-width: 400px;
  height: 550px;
  margin: 20px auto;
  padding: 3rem;
  background-color: #e7c294;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.login-wrapper {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-title{
    font-size: 50px !important;
}
