

.login-container {
  font-size: 25px;
  max-width: 400px;
  height: 550px;
  margin: 20px auto;
  padding: 3rem;
  background-color: #4b2e2e;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.login-wrapper {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-title{
    font-size: 50px !important;
}


.contact-container {
  font-family: 'Cream Cake', cursive;
  font-size: 25px;
  max-width: 600px; 
  height: auto;     
  min-height: 550px;
  margin: 20px auto;
  padding: 3rem;
  background-color: #4b2e2e; 
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  color: #ffffff; 
}

.contact-wrapper {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form-title {
    font-size: 50px !important;
    text-align: center;
}