.logo-carousel {
  width: 240px;
  height: 240px;
  object-fit: contain;
  display: block;    
  margin: 0 auto;     
}

.texto_carrousel{
    color: black;
    font-family: 'Cream cake';
    font-size: 25px;
    margin: 10px 10px;
}

.imagencarrousel{
  border-radius: 10px !important;
}

.home-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 80vh; 
    padding-top: 2rem;
}


.home-welcome-title {
    font-family: 'Cream Cake', cursive;
    font-size: 5rem; 
    color: #4b2e2e;  
    text-align: center;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.1); 
}