.login-container {
  max-width: 400px;
  margin: auto;
  padding: 3rem;
  background-color: #e7c294;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.login-wrapper {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
