.login-wrapper {
  min-height: 85vh; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  width: 100%;
  max-width: 420px;
  padding: 3rem;
  background-color: #4b2e2e; 
  color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4); 
  border: 2px solid #663300; 
}

.form-title {
  font-family: 'Cream Cake', sans-serif;
  font-size: 4rem !important; 
  color: #D7BFAE; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  margin-bottom: 1.5rem !important;
}


.login-input {
  background-color: #fffbf5 !important; 
  border: 2px solid #D7BFAE !important;
  color: #3e2723 !important; 
  font-weight: 500;
  padding: 12px 15px !important;
  border-radius: 8px !important;
}

.login-input::placeholder {
  color: #8d6e63 !important;
  font-style: italic;
}

.login-input:focus {
  box-shadow: 0 0 0 4px rgba(215, 191, 174, 0.4) !important; 
  outline: none !important;
  border-color: #ffffff !important;
}


.login-btn {
  background-color: #D7BFAE !important; 
  color: #4b2e2e !important; 
  font-family: 'Cream Cake', sans-serif;
  font-size: 2rem !important;
  border: none !important;
  border-radius: 10px !important;
  padding: 5px 0 !important;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}

.login-btn:hover {
  background-color: #ffffff !important;
  transform: scale(1.05); 
  color: #663300 !important;
}


.login-text {
  color: #e0e0e0;
  font-size: 1.1rem;
}

.login-link {
  color: #D7BFAE !important;
  font-weight: bold;
  text-decoration: none;
  margin-left: 5px;
  transition: color 0.2s;
}

.login-link:hover {
  color: #ffffff !important;
  text-decoration: underline;
  cursor: pointer;
}


.login-wrapper {
  width: 100%;
  min-height: 85vh; 
  display: flex;
  justify-content: center; 
  align-items: center;     
  padding: 20px;           
}

.login-container {
  width: 100%;
  max-width: 420px;
  padding: 3rem;
  background-color: #4b2e2e;
  color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  border: 2px solid #663300;
}

.form-title {
  font-family: 'Cream Cake', sans-serif;
  font-size: 4rem !important;
  color: #D7BFAE;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  margin-bottom: 1.5rem !important;
}