.titulo{
    font-family: 'Cream Cake';
    font-size: 60px;
}
.centrador{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.card.marron {
  width: 100%;         
  max-width: 34rem;  
  background-color: #4b2e2e;
  color: #fff;
  border: none;
  height: 100%; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card.marron .card-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card.marron .btn-light {
  background-color: #fff;
  color: #4b2e2e;
  border: none;
  margin-top: auto;
}

.card.marron .btn-light:hover {
  background-color: #e6d3c6;
  color: #3a1f1f;
}

.card-img-top-products-detail {
  margin: 20px 23px;
  height: 240px; 
  object-fit: cover;
  width: 90% !important;
  border-radius: 10px;

}