@font-face {
    font-family: 'Cream Cake';
    src: url(/src/styles/fonts/Cream\ Cake.otf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

.Titulo {
    font-family: 'Cream Cake';
    
}

.TituloBarra {
    font-family: 'Cream Cake';
    font-size: 40px;
    margin-right: 50px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: beige;
  background-image: url('/src/img/fondo-beige-con-dibu.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  color: #3e2723;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%); /* Invierte el color blanco a negro */
}
/*
.fondo {
  background-image: url('/src/img/fondo-beige-con-dibu.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding: 50px 20px;
  color: #3e2723;
}
*/


