.me-auto {
    font-family: 'Cream Cake';
    font-size: 28px;
}

.barra {
    background-color:  #663300 !important;
    margin-bottom: 10px;

}

.btn-no-hover:hover,
.btn-no-hover:focus {
    background-color: transparent !important;
    color: #D7BFAE !important; 
    border-color: transparent !important;
    box-shadow: none !important; 
}


